<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adapters">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.HomesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.CustomSimpleAdapterActivity"></activity>
        <activity android:name=".main.SimplesAdapterActivity"></activity>
        <activity android:name=".main.ArrayAdapterActivity"></activity>
        <activity android:name=".main.CustomAdapterActivity"></activity>
    </application>

</manifest>